* {
   margin: 0;
   padding: 0;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
   display: block;
}

body {
   line-height: 1;
}

ol,
ul {
   list-style: none;
}

blockquote,
q {
   quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
   content: '';
   content: none;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
}

body {
   background-color: #151413;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
}

a {
   text-decoration: none;
}

img {
   width: 100%;
}

.header {
   z-index: 100;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
}

.header__content {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   padding: 30px 0;
}

.header__logo {
   width: 100px;
   height: 100px;
   -webkit-transition: -webkit-transform 0.2s ease-in-out;
   transition: -webkit-transform 0.2s ease-in-out;
   transition: transform 0.2s ease-in-out;
   transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.header__logo:hover {
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
}

.header-list {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   list-style: none;
}

.header-list__item {
   margin: 0 20px 0 0;
}

.header-list__item a {
   color: #e4dad1;
   font-weight: 500;
   font-family: "Bebas Neue", sans-serif;
   padding: 8px;
}

.header-list__item a:hover {
   -webkit-transition: color .2s;
   transition: color .2s;
   color: white;
}

.header-list__item:last-child {
   margin: 0;
}

.header-list__item:last-child a {
   background-color: #cd412b;
}

.header-list__item:last-child a:hover {
   -webkit-box-shadow: 0 3px 3px #0000004f;
   box-shadow: 0 3px 3px #0000004f;
}

.hero {
   position: relative;
}

.hero__content {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   padding: 228px 0px 120px 0;
}

.hero__img {
   z-index: -1;
   background-image: url("../img/dmb_aerial_01.jpg");
   background-repeat: no-repeat;
   left: 0;
   top: 0;
   -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.6)), to(transparent));
   -webkit-mask-image: linear-gradient(rgba(255, 255, 255, 0.6) 0%, transparent 100%);
   mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.6)), to(transparent));
   mask-image: linear-gradient(rgba(255, 255, 255, 0.6) 0%, transparent 100%);
   background-attachment: fixed;
   background-size: cover;
   position: absolute;
   width: 100%;
   height: 100%;
}

.hero__title {
   font-size: 70px;
   font-weight: 500;
   color: #e4dad1;
   margin-bottom: 30px;
}

.hero__subtitle {
   color: #bab1a8;
   max-width: 660px;
   line-height: 130%;
   padding: 0;
   margin-bottom: 50px;
   text-align: center;
}

.hero__footer {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.hero__data {
   background-color: rgba(0, 0, 0, 0.237);
   padding: 10px 10px;
   margin-right: 15px;
   color: #e4dad1;
}

.hero__link {
   background-color: #cd412b;
   color: #e4dad1;
   padding: 10px 10px;
}

.video__content {
   height: 50vh;
   position: relative;
}

.video__content video {
   width: 100%;
   height: 100%;
   -o-object-fit: cover;
   object-fit: cover;
}

.news {
   margin-bottom: 30px;
}

.news__content {
   max-width: 800px;
}

.news__title {
   color: #cd412b;
   text-transform: uppercase;
   font-size: 36px;
   background-color: #151413;
   position: relative;
   top: -35px;
   left: -28px;
   display: inline-block;
}

.news__title a {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   padding: 20px;
   color: #cd412b;
}

.news__subtitle {
   color: #bab1a8;
   line-height: 130%;
   margin-bottom: 15px;
}

.news__article:not(:last-child) {
   margin-bottom: 100px;
}

.footer {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   padding: 20px;
}

.footer__copyright-span {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   font-family: "Bebas Neue", sans-serif;
   color: rgba(186, 177, 168, 0.6);
   font-size: 1.1rem;
   letter-spacing: .1rem;
}

.footer__icons {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.footer .social-icon {
   color: white;
   background-color: white;
   width: 40px;
   height: 40px;
}

.social-icon-link {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   margin-left: 0.5rem;
   width: 40px;
   height: 40px;
}

.fa-color {
   color: white;
}

.map {
   margin-bottom: 30px;
}